* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: darkcyan;
}

.button {
    border-radius: 5px;
    background-color: darkred;
    text-align: center;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}