* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.quiz-box {
    background-color: #f4a688;
    padding: 35px;
    max-width: 70%;
    text-align: center;
    margin: 100px 350px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.quiz-box h1 {
    padding: 10px;
    margin: 15px;
}

.quiz-box p{
    padding: 3px;
    font-size: large;
}

.button {
    border-radius: 5px;
    background-color: lightseagreen;
    text-align: center;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white;
    letter-spacing: 1px;
}

.scoreboard {
    background-color: #f4a688;
    padding: 35px;
    max-width: 70%;
    text-align: center;
    margin: 100px 350px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.scoreboard button {
    border-radius: 5px;
    background-color: lightseagreen;
    text-align: center;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white;
    letter-spacing: 1px;
}